body{
  background-color: #effbdb;
}

.App {
  text-align: center;
  box-sizing: border-box;
}

.header{
  background-color: #10212b;
  padding: 20px;
  text-align: center;
}


.header h1{
  margin: 0;
  color: #effbdb;
}

.header p{
  font-size: 18px;
  color: #effbdb;
}

.gradual-appear span{
  opacity: 0;
  transform: translateY(20px);
  animation: appear ease-out 0.5s forwards;
  animation-delay: calc(var(--animation-order) * 0.1s);
  display: inline-block;
}

@keyframes appear{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.gradual-appear span:nth-child(1){
  --animation-order: 1;
}

.gradual-appear span:nth-child(2){
  --animation-order: 2;
}

.gradual-appear span:nth-child(3){
  --animation-order: 3;
}

.gradual-appear span:nth-child(4){
  --animation-order: 4;
}

.gradual-appear span:nth-child(5){
  --animation-order: 5;
}

.gradual-appear span:nth-child(6){
  --animation-order: 6;
}

.gradual-appear span:nth-child(7){
  --animation-order: 7;
}

.gradual-appear span:nth-child(8){
  --animation-order: 8;
}

.gradual-appear span:nth-child(9){
  --animation-order: 9;
}

.nav{
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: #8fa464;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}

.nav-item{
  color: #10212b;
  padding: 20px;
  text-decoration: none;
  transition: .3s;
  margin: 0 6px;
  z-index: 1;
  font-weight: 500;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
  }
}

.nav-item:not(.is-active):hover:before{
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover{
  color: #333;
}

.nav-indicator{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

.appear-gradual{
  opacity: 0;
  animation: appearAnimation 5s forwards;
}

@keyframes appearAnimation{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.nav-gradual{
  opacity: 0;
  animation: appearAnimation 3s forwards;
}

@keyframes appearAnimation{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.article-list{
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.article-list h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #10212b;
}

.article-list ul{
  padding: 0;
}

.article-list li span{
  font-weight: bold;
}

.article-list span{
  opacity: 0;
  transform: translateY(20px);
  animation: appear ease-out 2s forwards;
  animation-delay: calc(var(--animation-order) * 0.1s);
  display: block;
}

@keyframes appear{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.article-list li button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.new-article-form{
  max-width: 900px;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #8fa464;
  border-radius: 5px;
  background-color: #effbdb;
}

.new-article-form h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #10212b;
}

.new-article-form form div{
  margin-bottom: 10px;
}

.new-article-form form label{
  font-weight: bold;
  display: block;
  color: #10212b;
}

.new-article-form form input,
.new-article-form form textarea{
  width: 100%;
  padding: 8px;
  border: 1px solid #8fa464;
  border-radius: 5px;
}

.new-article-form form textarea{
  height: 300px;
}

.new-article-form form button{
  background-color: #8fa464;
  color: #10212b;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.article-detail{
  max-width: 900px;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #8faf64;
  border-radius: 5px;
  background-color: #effbdb;
}

.article-detail h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.article-detail p{
  font-size: 1rem;
  text-align: left;
}

.detail-buttons{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.edit-button, .delete-button{
  background-color: #8fa464;
  color: #10212b;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.edit-button:hover, 
.delete-button:hover{
  background-color: #9faf81;
}

.edit-article-form{
  max-width: 900px;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #8fa464;
  border-radius: 5px;
  background-color: #effbdb;
}

.edit-article-form h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #10212b;
}

.edit-article-form form div{
  margin-bottom: 10px;
}

.edit-article-form form label{
  font-weight: bold;
  display: block;
  color: #10212b;
}

.edit-article-form form input,
.edit-article-form form textarea{
  width: 100%;
  padding: 8px;
  border: 1px solid #8fa464;
  border-radius: 5px;
}

.edit-article-form form button{
  background-color: #8fa464;
  color: #10212b;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-article-form form button:hover{
  background-color: #9faf81;
}

.article-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #8fa464;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.article-item .article-link{
  text-decoration: none;
  font-weight: 500;
  color: #10212b;
}

.article-item .article-link:hover{
  color: #20536e;
}

.article-item .buttons button{
  background-color: #8fa464;
  color: #10212b;
  border: none;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
}

.article-item .buttons button:hover{
  background-color: #9faf81;
}

.search-input{
  width: 100%;
  padding: 8px;
  border: 1px solid #8fa464;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #10212b;
}