.App {
  text-align: center;
}

.header{
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.header h1{
  margin: 0;
}

.header p{
  font-size: 18px;
  color: #555;
}

.header nav ul li{
  display: inline;
  margin-right: 10px;
}

.header nav ul li a{
  text-decoration: none;
  color: #333;
}

.header nav ul li a:hover{
  color: rgb(133, 40, 40);
}